{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<form action="results" method="get">

    <head>
      <title>Place Autocomplete Address Form</title>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
      <link rel="stylesheet" type="text/css" href="{% static '/styles/home.css' %}" />
    </head>

    <body>
      <label for="autocomplete" class="location">Pickup Location
        <input type="text" name="PickupLocation" onfocus="geolocate()" placeholder="Enter your pickup location" id="autocomplete" autocomplete="off" />
      </label>

      <label for="autocomplete2" class="location">Dropoff Location
        <input type="text" name="DropoffLocation" onfocus="geolocate()" placeholder="Enter your dropoff location" id="autocomplete2" autocomplete="off" />
      </label>

      <script src="{% static '/scripts/home.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{google_api}}&libraries=places&callback=initAutocomplete"
          async defer></script>
    </body>
</form>


{% endblock %}
